<div ng-show="vm.settings.View == '0'">
    <table style="table-layout: fixed; width: 100%;">
        <tr ng-show="vm.chunkedNews.length <= 0"><td style="text-align:center;">Loading new data!!</td></tr>
        <tr dir-paginate="row in vm.chunkedNews|itemsPerPage:vm.pageSize" total-items="vm.totalCount">
            <td ng-repeat="news in row" ng-style="{'width': 100 / row.length + '%', 'vertical-align':'top'}">
                <span ng-bind-html="news.Html | trust"></span>
            </td>
        </tr>
    </table>
    <dir-pagination-controls max-size="8"
                             direction-links="true"
                             boundary-links="true"
                             on-page-change="vm.getNews(vm.PortalId, vm.settings.CategoryID, vm.topN, vm.startDate, vm.endDate, newPageNumber, vm.pageSize, vm.includeHidden, '')">
    </dir-pagination-controls>
</div>
<div ng-show="vm.settings.View == '1'">
    <marquee id="bbnews-marquee" class="bbnews-marquee">
        <span ng-repeat="news in vm.allNews" ng-bind-html="news.Html | trust"></span>
    </marquee> 
</div>
<div ng-show="vm.settings.View == '2'">Detail</div>
<div ng-show="vm.settings.View == '3'">
    <div class="row" dir-paginate="row in vm.chunkedNews|itemsPerPage:vm.pageSize" total-items="vm.totalCount">
        <div ng-class="vm.bsClass" ng-repeat="news in row">
            <span ng-bind-html="news.Html | trust"></span>
        </div>
    </div>
    <dir-pagination-controls max-size="8"
                             direction-links="true"
                             boundary-links="true"
                             on-page-change="vm.getNews(vm.PortalId, vm.settings.CategoryID, vm.topN, vm.startDate, vm.endDate, newPageNumber, vm.pageSize, vm.includeHidden, '')">
    </dir-pagination-controls>
</div>


